
      <h2><a  style="text-decoration:none; color: #800000"> &nbsp;&nbsp; 상품소개 </a></h2>
<div class = "row-fluid" >
  <div class = 'span1'></div>
  <div class = "span5">
  <center>
  <a href="http://cafe.naver.com/ehsdolsang/15"><%= image_tag('mary.jpeg', :height => '240', :width => '360') %></a><br><br>
   <h4>2단 돌상</h4></center>
</div>
<div class = "span5">
<center>
<a href="http://cafe.naver.com/ehsdolsang/17"><%= image_tag('mary.jpeg', :height => '240', :width => '360') %></a> <br><br>
<h4>1단 돌상</h4></center> 
</div>
<div class = 'span1'></div>
  </div>