      <h2><a  style="text-decoration:none; color: #800000"> &nbsp;&nbsp; 기본제공품목 </a></h2>
      <div class = "row-fluid" >
      <div class = 'span4'>
      	<center><h4>돌상</h4></center>
      </div>
      <div class = 'span4'>
      	<center><h4>고급 떡케익</h4></center>
      </div>
      <div class = 'span4'>
      	<center><h4>떡2종(오색송편,수수경단)</h4></center>
      </div>
      </div>
      <div class = "row-fluid" >
      <div class = 'span4'>
      	<center><h4>제철과일</h4></center>
      </div>
      <div class = 'span4'>
      	<center><h4>돌잡이용품</h4></center>
      </div>
      <div class = 'span4'>
      	<center><h4>포토테이블</h4></center>
      </div>
      </div>
      <div class = "row-fluid" >
      <div class = 'span4'>
      	<center><h4>사진인화서비스</h4></center>
      </div>
      <div class = 'span4'>
      	<center><h4>이벤트번호표</h4></center>
      </div>
      <div class = 'span4'>
      	<center><h4>6폭 병풍 포토</h4></center>
      </div>
      <div class = "row-fluid" >
      <div class = 'span4'>
      </div>
            <div class = 'span4'>
             <center><h4>아기돌복 풀세트</h4></center>
      </div>
            <div class = 'span4'>
            <center><h4>덕담트리</h4></center>
      </div>
      </div>
      <hr>
      <h2><a  style="text-decoration:none; color: #800000"> &nbsp;&nbsp; 상품소개 </a></h2>
<div class = "row-fluid" >
  <div class = 'span1'></div>
  <div class = "span5">
  <center>
  <a href="http://cafe.naver.com/ehsdolsang/15"><%= image_tag('mary.jpeg', :height => '240', :width => '360') %></a><br><br>
   <h4>2단 돌상</h4></center>
</div>
<div class = "span5">
<center>
<a href="http://cafe.naver.com/ehsdolsang/17"><%= image_tag('mary.jpeg', :height => '240', :width => '360') %></a> <br><br>
<h4>1단 돌상</h4></center> 
</div>
<div class = 'span1'></div>
  </div>