
      <h2><a  style="text-decoration:none; color: #800000"> &nbsp;&nbsp; 포트폴리오 </a></h2>
<div class="row-fluid">
  <div class = "span1"></div>
  <div class = "span10">
  <div class="row-fluid">
    <div class="span3">
      <center>
      <p><a href="http://pkh_1004.blog.me/40200113784?Redirect=Log&from=postView"><%= image_tag('mary.jpeg', :height => '180', :width => '270') %></a></p><br>홍대메리골드
      </center>
    </div>
    <div class="span3">
      <center>
      <p><a href="http://pkh_1004.blog.me/40199848278?Redirect=Log&from=postView"><%= image_tag('island.JPG', :height => '180', :width => '270') %></a></p><br>강화도펜션
      </center>
    </div>
    <div class="span3">
      <center>
      <p><a href="http://blog.naver.com/pkh_1004/40201964403"><%= image_tag('the.jpg', :height => '180', :width => '270') %></a></p><br>분당믹스드원
      </center>
    </div>
    <div class="span3">
      <center>
      <p><a href="http://pkh_1004.blog.me/40200113784?Redirect=Log&from=postView"><%= image_tag('mary.jpeg', :height => '180', :width => '270') %></a></p><br>구리시호텔
      </center>
    </div>
  </div>
  </div>
  <div class = "span1"></div>
</div>



